<table>
    <tr>
        <th>ID</th>
        <th>Paciente</th>
        <th>Médico</th> <!-- Nova coluna para o médico -->
        <th>Data da Consulta</th>
        <th>Hora da Consulta</th>
    </tr>
    {% for consulta in consultas %}
    <tr>
        <td>{{ consulta.id }}</td>
        <td>{{ consulta.paciente.nome }}</td>  <!-- Nome do paciente -->
        <td>{{ consulta.medico.nome }}</td> <!-- Nome do médico -->
        <td>{{ consulta.data_consulta }}</td>
        <td>{{ consulta.hora_consulta }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('index') }}">Voltar para a Página Inicial</a>
